.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
    width: 100%;
    height: auto;
}

.container1{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 550px;
}

.container1 img{
    display: flex;
    align-items: center;
    width: 560px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.titles-container{
    padding-bottom: 15px;
}
.titles-container h1{
    line-height: 1;
    width: 400px;
    height: 400px;
    text-align: left;    
    font-family: "Roboto", sans-serif;
    font-size: 180px;
    font-weight: 400;
    letter-spacing: -10px;
    color: var(--name-color);
    margin: 0;
    position: relative;
    z-index: 2;
}

.titles-container h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 400px;
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-size: 14px;
    margin: 0;
    color: var(--title-color);
    font-weight: 900;
}

.container2{
    display: flex;
    gap: 30px;
    align-items: flex-end;
    width: 60%;
    height: 133px;
    color: var(--text-color);
    font-size: 12px;
    padding: 35px 0px 15px 40px;

}

.text-container1 p, .text-container2 p, .text-container3 p{
    margin: 0;
}

.text-container1 h3, .text-container2 h3, .text-container3 h3{
    margin: 0px 0px 10px 0px;
    font-weight: 900;
    color: var(--title-color);
}

.text-container1, .text-container2, .text-container3{
    text-align: left;
    width: 170px;
}

.number-container{
    font-size: 10px;
}

.number-page{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 330px ;
    right: 125px;
    line-height: 0;
    width: 200px;
    height:0px;
    background-color: red;
}

.number-page p{
    position: relative;
    z-index: 1;
    color: var(--number-color);
    font-size: 400px;
    letter-spacing: -20px;
    margin: 0;
    width: 560px;
    height: 0px;
}

.number-page  a img{
    position: relative;
    top: 0px;
    right: 0px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 1;
}

.number-page a{
    position: relative;
    top: 65px;
    left: 0px;
    width: 80px;
    height: 80px;
    z-index: 1;
    cursor: pointer;
}

@media  screen and (min-width: 834px) and (max-width: 1366px){
.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}


.container1 img{
    width: 450px;
    height: auto;
}

.container2{
    align-items: flex-start;
    height: auto;
}

.titles-container h1{
    width: auto;
    height: auto;
    font-size: 125px;
}

.number-page{
    top: 300px ;
    right: 305px;
}

.number-page p{
    font-size: 200px;
}


.number-page a{
    top: 30px;
    left: -15px;
}

    
}

@media  screen and (max-width: 430px){
    .main-container{
    width: 430px;
    height: 780px;
    display: flex;
    justify-content: space-between;
}

    .main-container img{
    width: 430px;
    padding-bottom: 0;
}

    .container1{
    width: auto;
    flex-direction: column;
}

    .container2{
    gap: 10px;
    width: 390px;
    height: auto;
    font-size: 10px;
    padding: 15px 20px 15px 20px;
}

    .text-container1, .text-container2, .text-container3{
    text-align: center;
}

    .titles-container{
    display: flex;
    flex-direction: column;
}

    .titles-container h2{
    text-align: center;
}

    .titles-container h1{
    text-align: center;
    font-size: 80px;
    width: auto;
    height: auto;
}

    .number-page{
    display: none;
}

}


    



